# Importing required libraries

In [1]:
import numpy as np
import pandas as pd

# Reading the data files

In [5]:
dataA = pd.read_csv('../../data/A.csv',sep=',')
dataB = pd.read_csv('../../data/B.csv',sep=',')

# Getting an overview of the data

In [4]:
dataA.head()

   738   772   777   777.1   777.2   771   773   775   483   1235   273
0  738   772   777     777     777   771   773   775   483   1210   392
1  738   772   777     777     777   771   773   775   483   1190   515
2  738   772   777     777     777   771   773   775   483   1170   616
3  738   772   777     777     777   771   773   775   483   1140   755
4  738   772   777     777     777   771   773   775   483   1115   874